services:

  db:
      image: postgis/postgis
      platform: linux/amd64
      container_name: db
      env_file:
        - .env
      environment:
        POSTGRES_DB: ${DB_Name}
        POSTGRES_USER: ${DB_User}
        POSTGRES_PASSWORD: ${DB_Password}
      volumes:
        - data_volume:/var/lib/postgresql/data
      healthcheck:
        test: [ "CMD", "pg_isready", "-q", "-d", "${DB_Name}", "-U", "${DB_User}" ]
        interval: 10s
        timeout: 5s
        retries: 5
      networks:
        - app_network

  web:
    image: ghcr.io/${GHCR_OWNER}/${GHCR_REPO}/web:latest
    container_name: web
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py migrate &&
      daphne -b 0.0.0.0 -p 8080 apps.gateway.asgi:application"
    depends_on:
      redis:
        condition: service_started
    volumes:
      - static_volume:/code/static
      - media_volume:/code/media
    networks:
      - app_network
  
  celery:
    image: ghcr.io/${GHCR_OWNER}/${GHCR_REPO}/celery:latest
    container_name: celery
    hostname: worker
    command: celery -A web worker -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env
    networks:
      - app_network

  redis:
    image: redis:alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "5"]
    volumes:
      - redis_data:/data
    networks:
      - app_network
  
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/code/static
      - media_volume:/code/media
      - ./certbot/conf/:/etc/nginx/ssl/
      - ./certbot/data:/usr/share/nginx/html
    depends_on:
      - web
    networks:
      - app_network

volumes:
  static_volume:
    driver: local
  media_volume:
    driver: local
  redis_data:
    driver: local
  data_volume:
    driver: local

networks:
  app_network:
    driver: bridge
