services:

  web:
    image: template-web:latest
    container_name: web
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py makemigrations && 
      python manage.py migrate && 
      python manage.py collectstatic --noinput && 
      daphne -b 0.0.0.0 -p 8080 api_gateway.asgi:application"
    depends_on:
      redis:
        condition: service_started
    volumes:
      - static_volume:/code/static
      - media_volume:/code/media
    networks:
      - app_network
  
  celery:
    image: template-celery:latest
    container_name: celery
    hostname: worker 
    command: celery -A web worker -l info
    depends_on:
      - redis
      - web 
    env_file: 
      - .env
    networks:
      - app_network

  redis:
    image: "redis:alpine"
    container_name: redis
    command: ["redis-server", "--appendonly", "yes", "--save", "60", "5"]
    volumes:  
      - redis_data:/data
    networks:
      - app_network
  
  nginx:
    image: nginx:latest
    container_name: nginx
    env_file:
      - .env
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx.conf.template:/etc/nginx/templates/default.conf.template
     # - ./apple-app-site-association:/etc/nginx/html/.well-known/apple-app-site-association:ro
      - static_volume:/code/static
      - media_volume:/code/media
      - ./certbot/conf/:/etc/nginx/ssl/
      - ./certbot/data:/usr/share/nginx/html
    environment:
      # These are explicitly set for nginx's envsubst to process the template
      - SERVER_NAME=${SERVER_NAME}
      - SERVER_NAME_WWW=${SERVER_NAME_WWW}
      - DJANGO_SERVICE_NAME=${DJANGO_SERVICE_NAME}
      - DJANGO_PORT=${DJANGO_PORT}
    depends_on:
      - web
    networks:
      - app_network

volumes:
  static_volume:
    driver: local
  media_volume:
    driver: local
  redis_data:
    driver: local
  

networks:
  app_network:
    driver: bridge