name: CI Pipeline

on:
  workflow_run:
    workflows: ["Build & Push Docker Images"]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image variables
        run: |
          echo "GHCR_OWNER=${{ github.repository_owner }}" >> $GITHUB_ENV
          echo "GHCR_REPO=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start Web test container
        run: |
          docker run -d \
            --name web \
            --entrypoint sh \
            ghcr.io/${GHCR_OWNER}/${GHCR_REPO}/web:latest \
            -c "sleep infinity"

      - name: Run Django Tests
        run: |
          docker exec web python manage.py test --settings=web.settings_test

      - name: Run Behave Tests
        run: |
          docker exec web python manage.py behave --settings=web.settings_test --quiet -f progress

      - name: Cleanup
        run: docker rm -f web
